* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;;
}
html {
    scroll-behavior: smooth;
}

#page1-flexcontainer1{
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    width: 100%;
}

#the-modern {
    display: flex;
    position: relative;
    flex-wrap: row;
}

.subtitle-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10%;
    font-style: italic;
    font-size: 0.25em;
    color: #ff7a00;
}

.page1-flexcontainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    font-size: 2.5em;
}

.page1-percent-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
}

.page1-outer-container {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.page1-thatis4 {
    /* border: 1px solid #FF0000; */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    
}
#page1-bigbox-and-circle {
    width: 50%; 
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page1-bigbox {
    width: 250px;
    height: 250px;
    min-width: 250px;
    background-color: #86BDFD;
    transform: scale(1);
    border-radius: 15%;
    position: relative;
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

:any-link {
    text-decoration: none;
}

.menu-text-top{
    color: white;
    font-size: 2.5em;
    text-decoration: none;
}

.page1-bigbox:hover {
    background-color: #ff7a00;
    text-decoration: none;
}

.page1-circle {
    width: 80px;
    height: 80px;
    background-color: #ff0000;
    border-radius: 100%;
    position: absolute;
    top:-25px;
    right: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1; */
}

.text-bold {
    font-size: 2.5em;
    text-align: center;
}



#page1-flashingnotif1 {
    color: white;
    font-size: 2.25em;
    animation-name: page1-flashingnotif1;
    animation-delay: 0s;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
}
@keyframes page1-flashingnotif1 {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.info-stats {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#ff7a00;
    line-height: 100px;
    position: relative;
}

#all-centered {

    display: flex;
    
    flex-direction: column;
    justify-content: left;
    align-items: center;
    /* text-align: center; */
}

.title {
    font-size: 4em;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    justify-content: center;
}

.sub-title {
    font-size: 1.5em;
    opacity: 1;
    text-align: center;
    /* margin-top: 2%; */
    position: relative;
}

.sub-title >  a:any-link {
    color: black;
    text-decoration: none;
}

#page1-bigheader {
    width:50%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: 7em;
}

.page1-title {
    animation-name: page1-titlecolor;
    animation-iteration-count: infinite;
    animation-duration: 7.7s;
    color: #ff0000;
}

@keyframes page1-titlecolor {
    5% {color: #ff0000; opacity: 1}
    35% {color: #86bdfd; opacity: 1}
    70% {color: #ff7a00; opacity: 1}
    100% {color: #ff0000; opacity: 1}

}

#problem-text {
    text-decoration: underline;
}

#this-is-a-problem {
    font-size: 2.5em;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.sticky-navbar a:hover {
    color: limegreen;
    text-decoration: none;
}


.parent1 {
    /* width: 85%; */
    /* height: 50%; */
    padding-left: 2%;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: left;
    position: relative;
}

.box {
    display: flex;
    flex-flow: row wrap;
    width: 95px;
    height: 95px;
    min-width: 95px;
    background-color: #86BDFD;
    margin: 1em;
    border-radius: 15%;
     position: relative;
    z-index: 100;
}

.boxlink {
    display: flex;
    width: 95px;
    height: 95px;
    min-width: 95px;
    background-color: #86BDFD;
    margin: 1em;
    border-radius: 15%;
    position: relative;
}

.boxlink:hover {
    background-color: #ff7a00;
}

.percentage-stat-text {
    display: flex;
    justify-content: center;
    width: 90vw;
    color: #FF0000;
    /* font-size: 5em; */
    font-size: 250%;
    text-align: center;
}

.progress-bar-out {
    display: flex;
    position: relative;
    width:75vw;
    height: 75px;
    border-radius: 50px;
    background-color: #ff7a00;
}

#progress-bar-in1 {
    display: flex;
    position: absolute;
    width:0vw;
    height: 75px;
    border-radius: 50px 0 0 50px;
    background-color: #86BDFD;
    transition: width 5s;
}

#progress-bar-in1.grow {
    display: flex;
    position: absolute;
    width:44.25vw;
    height: 75px;
    border-radius: 50px 0 0 50px;
    background-color: #86BDFD;
}

#progress-bar-in2 {
    display: flex;
    position: absolute;
    width:0vw;
    height: 75px;
    border-radius: 50px 0 0 50px;
    background-color: #86BDFD;
    transition: width 5s;
}

#progress-bar-in2.grow {
    display: flex;
    position: absolute;
    width:47.25vw;
    height: 75px;
    border-radius: 50px 0 0 50px;
    background-color: #86BDFD;
}

#progress-bar-in3 {
    display: flex;
    position: absolute;
    width:0vw;
    height: 75px;
    border-radius: 50px 0 0 50px;
    background-color: #86BDFD;
    transition: width 5s;
}

#progress-bar-in3.grow {
    display: flex;
    position: absolute;
    width:70.5vw;
    height: 75px;
    border-radius: 50px 0 0 50px;
    background-color: #86BDFD;
}

.in-addition-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    color: #ff7a00;
    /* font-size: 2em; */
    font-size: 350%;
    opacity: 0;
    transition: opacity 1.5s ease;
}

.in-addition-text.grow {
    display: flex;
    width: 90vw;
    color: #ff7a00;
    font-size: 2em;
    opacity: 1;
    
}

#addictive-text {
    color: grey;
}

#thankyou-note {
    color:#FF0000;
}

#sources-text{
    color: white;
}




.circle-main {
    width: 30px;
    height: 30px;
    background-color: #FF0000;
    border-radius: 100%;
    position: absolute;
    top:-8px;
    right: -8px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.left-half-caption {
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#left-red-text {
    color: red;
    font-size: 1em;
}

.page1-words-only {
    text-align: center;
}

.caption {
    text-align: center;
    width: 100%;
    color: #ff7a00;
    font-size: 1.5em;
    transition: font-size 10s .3s;
}

.caption.grow {
    text-align: center;
    width: 100%;
    color: #ff7a00;
    font-size: 2.5em;
}

#blue-text {
    color:#86bdfd;
}

.quote {
    /* font-style: italic; */
    font-size: 2em;
    padding: 10%;
    color:#FF0000;
    text-align: center;
}

.quotation-marks {
    font-size: 5em;
}

#page1-halfpagefill {
    width:50%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

#over-half {
    width:45vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    font-size: 3em;
   
    color: red;
    position: relative;
    /* z-index: 1; */
}

#ohalf-with-trans {
    width:0%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    overflow: hidden;
    transition: width 5s .3s;
    z-index: -3;
}

#ohalf-with-trans.grow {
    width:100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    font-size: 1em;
    text-align: center;
}



.page1-halfpage {
    width:45vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    position: relative;
}

#world-pop {
    text-align: left;
    line-height: 75px;
    font-size: 1.75em;
}

@keyframes caption1transition {
    0% {color: white; opacity: 0}
    100% {color: black; opacity: 1}
}

.round-edge-rectangle {
    width: 500px;
    height: 50px;
    min-width: 100px;
    border-radius: 5%;
    position: absolute;
    background-color:#FF0000;
    /* z-index: auto; */
    margin: 1em;
    transform: scale(1);

}



/* SIMPLE FADE IN ANIMATION DONE WITH THE HELP OF CHATGPT. */
/* Define initial opacity */
.fade-in-element {
    opacity: 0;
    transition: opacity 1s ease;
  }

  /* Define fade-in effect */
.fade-in-element.fade-in {
    opacity: 1;
  }

#the-stats-are-alarming {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: o;
}

.button-to-page-2 {
    background-color: #FF0000;
    width: 90vw;
    height: 175px;
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
    border-radius: 900px;
    
    
}

.button-to-page-2:hover {
    background-color: #86bdfd;
    color: whitesmoke;
}

.what-can-you-do {
    text-decoration: none;
    font-size: 1.75em;
    color: white;
}

.menu-button {
    text-decoration: none;
    font-size: 1.75em;
    color: white;
}

#what-text {
    display: flex;
    /* text-align: center; */
    justify-content: center;
}


/* PAGE 2 */

.big-percentage-text {
    font-size: 5em;
}

#page2-resources-title {
    color: magenta;
}

.long-rectangle {
    width:100vw;
    height:175px;
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    transition: height 2s .3s;
}

.long-rectangle.grow {
    width:100vw;
    height:100vh;
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}


#link-hover1 {
    color: white;
}

#link-hover1:hover {
    color: #FF0000;
}

#link-hover2 {
    color: white;
}

#link-hover2:hover {
    color: #86BDFD;
}

#link-hover3 {
    color: white;
}

#link-hover3:hover {
    color: #ff0000;
}


/* PAGE 3 */

.page3-sub-text {
    color: white;
    font-style: italic;
}

.page3-flexpage {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    font-size: 2.5em;
    background-color: #86BDFD;
    transition: background-color 3s;
}

.page3-flexpage.grow {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    font-size: 2.5em;
    background-color: #ff7a00;
}

#long-rectangle1 {
    width:100vw;
    height:175px;
    background-color:#86bdfd;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    transition: height 2s .3s;
}

#long-rectangle1.grow {
    width:100vw;
    height:100vh;
    background-color: #86bdfd;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#long-rectangle2 {
    width:100vw;
    height:175px;
    background-color: #FF0000;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    transition: height 2s .3s;
}

#long-rectangle2.grow {
    width:100vw;
    height:100vh;
    background-color: #FF0000 d;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#long-rectangle3 {
    width:100vw;
    height:175px;
    background-color: #ff7a00;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    transition: height 2s .3s;
}

#long-rectangle3.grow {
    width:100vw;
    height:100vh;
    background-color: #ff7a00;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#rec-1 {
    background-color: blue;
}

#page3-sources {
    height: 340vh;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: top;
    text-align: left;
    justify-content: left;
    font-size: 1em;
    background-color: black;
    padding-left: 7%;
    padding-top: 3%;
    overflow: hidden;
}

#footer-note {
    color: #d68130;
    font-style: italic;
    font-size: 0.75em;
}

#citation-font {
    display: flex;
    align-items: top;
    justify-content: left;
    width: 90vw;
    color: #ff7a00;
    /* font-size: 2em; */
    font-size: 0.5em;
    opacity: 0;
    transition: opacity 1.5s ease;
    text-align: left;
}

#citation-font {
    display: flex;
    align-items: top;
    justify-content: left;
    flex-direction: column;
    width: 90vw;
    color: #ff7a00;
    /* font-size: 2em; */
    font-size: 2em;
    opacity: 1;
    transition: opacity 1.5s ease;
    text-align: left;
}

.href-citations {
    color:#ff7a00;
}

.href-citations:hover {
    color:#86bdfd;
}

#page3-maintitle {
    padding-left: 10%;
}
/* MEDIA QUERIES */

/* tablet */

@media (max-width: 780px) {
    .parent1{
    justify-content: center;
    }

    .title {
        padding: 5%;
    }

    #all-centered {
       
        justify-content: center;
    }


    .page1-thatis4, .info-stats, #page1-flexcontainer1, .page1-flexcontainer, #page1-bigheader {
        padding-left: 15%;
        width: 100vw;
        height: 75vh;
        display: flex;
        flex-wrap: column wrap;
        justify-content: center;
        align-items: center;
        position: relative;

    }

    #page1-bigbox-and-circle {
        position: relative;
        display: flex;
        flex-direction: column;
      
    }


    .page1-halfpage {
        width: 100vw;
    }
    #over-half {
       
        width:100vw;
    }

    #world-pop {
        text-align: center;
        font-size: 5em;
    }

    #page1-bigheader {order:1;}
    #page1-bigbox-and-circle {order:2;}
}
